packaging_format = 2

id = "libremdb"
name = "Libremdb"
description.en = "Free & open source IMDb front-end"
description.fr = "Frontal IMDb gratuit et open source"

version = "4.5.0~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0"
website = "https://libremdb.iket.me/"
demo = "https://libremdb.iket.me/about"
code = "https://github.com/zyachel/libremdb"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/zyachel/libremdb/archive/refs/tags/v4.5.0.tar.gz"
        sha256 = "50c363c0f7f3e60c16a406c71369dea73240cc727c7bd84999b3b5eb942a609c"
        autoupdate.strategy = "latest_github_tag"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "redis-server, yarn"

    [resources.nodejs]
    version = "22"
